body {
    margin: 0px auto;
    padding: 0px auto;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
}

a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}
a:hover,
a:focus {
    text-decoration: underline;
}

#main_navbar {
    height: 46px;
    background-color: #260222;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding-left: 40px;
    padding-top: 26px;
    display: flex;
    align-content: space-between;

}

.left_nav {
    float: left;
    margin-left: 65px;
    margin-right: 270px;
}

.main_section{
    margin-top: 120px;
    margin-left: 100px;
    color: black;
    width: auto;
    font-size: 16px;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-right: 100px;
    height: 587px;
}

.view_polling_unit,
.summed_total_results_main,
.store_all_result_for_parties {
    font-size: 13px;
    font-weight: bold;
    height: 46px;
    font-family: system-ui;
    width: 246px;
    border-radius: 6px;
    border: 2px solid #b1b1c1;
    margin-bottom: 15px;
    color: white;
    border-radius: 5px;
    background-color: #260222;
}

.polling_units_div_res {
    float: right;
    margin-right: 105px;
    padding-top: 48px;
}
#my_table {
    display: inline-block;
    position: relative;
}

.my_table {
    background-color:#260222;
    border-collapse:collapse;
}
.my_table th {
    background-color: #260222;
    color:white;
    width:5%;
}

.my_table th {
    padding-left: 6px;
    padding-right: 6px;
    border:1px solid #260222;
}

td {
    background-color: #dbdbdb;
    color: #202020;
    width: auto;
    height: 90px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #cbc6c6;
}

th {
    background-color: #260222;
    color: #b1b1b1;
    border-radius:  5px;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
}


.search_polling_unit {
    font-size: 12px;
    font-weight: 299px;
    height: 41px;
    padding-left: 16px;
    font-family: system-ui;
    width: 246px;
    border: 1px solid #b0b0bb;
    margin-bottom: 15px;
    color: #260222;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
}

.search,
.summed_total_results{
    height: 41px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #260222;
    color: white;
    font-weight: bold;
    width: 248px;
    font-family: 'PT Sans', sans-serif;
    outline: none;
    font-size: 15px;
}

/* Adding the footer styling */
.footer_div {
  margin-top: 200px;
  display: flex;
  height: 272px;
  background-color: #260222;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 18px;
}
.footer_div ul {
  list-style: none;
}
ul li {
  margin-top: 15px;
  margin-bottom: 15px;
}
#work {
  text-align: center;
  padding-top: 16px;
  font-size: 13px;
}
.lower_footer {
  display: grid;
  border: 1px solid #322f2f;
  height: 45px;
  background-color: #2c1925;
}

.store_values {
  margin-top: 30px;
  margin-left: 100px;
  color: black;
  font-size: 16px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  float: left;
  width: auto;
  padding-top: 100px;
  margin-right: 100px;
  height: 481px;
}

.store_values input {
  height: 40px;
  width: 234px;
  border-radius: 4px;
  font-size: 12px;
  padding-left: 15px;
  margin-left: 10px;
  margin-bottom: 20px;
  border: 2px solid #952a2a;
  outline: none;
}


/* ***/
.user_ip_address,
.submit_btn {
  margin-right: 265px;
}

.submit_btn {
  height: 52px;
  border-radius: 7px;
  padding-left: 10px;
  margin-left: 5px;
  padding-right: 10px;
  background-color: #260222;
  color: white;
  font-weight: bold;
  width: 254px;
  font-family: 'PT Sans', sans-serif;
  outline: none;
  font-size: 15px;
}

.flash_message_div {
  height: 40px;
  display: none;
  width: 316px;
  border-radius: 5px;
  font-size: 15px;
  color: #400303;
  font-weight: bold;
  border: 1px solid #e1b0b0;
  padding-top: 18px;
  margin-bottom: -73px;
  padding-left: 30px;
  margin-top: 64px;
  margin-left: 109px;
  background-color: #fff3f3;
}

.success_message_div {
  height: 40px;
  display: none;
  width: 316px;
  border-radius: 5px;
  font-size: 15px;
  color: #000000;
  font-weight: bold;
  border: 1px solid #d1d77e;
  padding-top: 18px;
  margin-bottom: -73px;
  padding-left: 30px;
  margin-top: 64px;
  margin-left: 109px;
  background-color: #fffce7;
}

.main_table_div {
  overflow-y: scroll;
  height: 615px;
  overflow-x: hidden;
}
































/* For mobile devices */
@media screen and (max-width:500px) {
  body {
    margin: 0px auto;
    padding: 0px auto;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;

  }
  a {
    font-size: 14px;
    margin-bottom: 3px;
  }
  ul li a {
    font-size: 9px;
  }
  td {
    height: 36px;
  }
  .main_section {
    font-size: 11px;
    margin-top: 43px;
    margin-left: 0px;
    margin-right: 0px;
    display: inline-block;
    overflow-y: auto;
    overflow-x: auto;
  }
  #main_navbar {
    height: 57px;
    padding-left: 42px;
    padding-top: 20px;
    height: 69px;
  }
  .left_nav {
    margin-left: -10px;
    margin-right: 9px;
  }
  .search_polling_unit {
    margin-left: 0px;
    font-size: 12px;
    border: 1px solid #e19d8d;
  }
  .polling_units_div_res {
    padding-left: 44px;
    margin-right: 0px;
  }
  .search_box {
    margin-left: 0px;
    margin-bottom: 12px;
    font-size: 12px;
    height: 44px;
    border: 1px solid #e19d8d;
  }
  .search {
    margin-left: 0px;
    margin-bottom: 12px;
    height: 44px;
    font-size: 12px;
    border: 1px solid #e19d8d;
  }
  .summed_total_results {
    margin-left: 0px;
    font-size: 12px;
    border: 1px solid #e19d8d;
  }
  .announced_polling_unit{
    font-size: 14px;
    margin-left: 11px;
  }
  .footer_div {
    margin-top: 195px;
    font-size: 10px;
    height: 274px;
    padding-right: 53px;
  }
  .view_polling_unit,
  .view_announced_polling_units_result,
  .summed_total_results_main,
  .store_all_result_for_parties {
    border: 1px solid #e19d8d;
  }
  .lower_footer {
    border: none;
    font-size: 12px;
    background-color: #1a0117;
  }
  #work {
    font-size: 10px;
  }
  #my_table {
    font-size: 11px;
  }
  table#my_table {
    width: 348px;
  }
  .result_id, .polling_unit_uniqueid,
  .party_abbreviation, .party_score,
  .entered_by_user, .date_entered,
  .user_ip_address {
    margin: 0px;
  }
  .store_values {
    margin-left: -100px;
    margin-top: -43px;
    height: auto;

  }
  .store_values input {
    height: 35px;
    width: 127px;
    font-size: 12px;
  }
  .user_ip_address {
    margin-right: 163px;
  }
  .submit_btn {
    height: 45px;
    border-radius: 7px;
    padding-left: 10px;
    margin-left: 115px;
    padding-right: 10px;
    width: 158px;
    border: 1px solid #e19d8d;
    font-size: 12px;
  }
  .main_table_div {
    overflow-y: scroll;
    height: 615px;
    width: 386px;
    overflow-x: scroll;
  }
  .flash_message_div {
    margin-bottom: -26px;
    width: 173px;
    height: 30px;
    font-size: 12px;
    margin-left: 46px;
    padding-top: 13px;
  }
  .success_message_div {
    margin-bottom: -26px;
    width: 173px;
    height: 30px;
    font-size: 12px;
    margin-left: 46px;
    padding-top: 13px;
  }


}
